In [14]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import pandas as pd
from splinter import Browser
from flask import Flask, render_template, redirect
from webdriver_manager.chrome import ChromeDriverManager
# from flask_pymongo import PyMongo
import os

In [15]:
exec_path={'executable_path': 'chromedriver'}
browser=Browser('chrome', **exec_path, headless=False)

###### NASA Mars news

In [19]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
url="https://mars.nasa.gov/news/"
#response=requests.get(url)

In [22]:
#create a Beautiful Soup object
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [23]:
new_title=soup.find_all('div', class_='content_title')[1].text
new_title

"NASA's Perseverance Pays Off Back Home"

In [24]:
news_p=soup.find_all('div', class_='article_teaser_body')[0].text
news_p

'Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.'

##### JPL Mars Space Images - Featured Image

In [8]:
#assign the url string to a variable called `featured_image_url`.
url="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
response=requests.get(url)

In [28]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image
html=browser.html
soup=bs(html,'html.parser')

In [11]:
jpl_img='https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
img_url=soup.find_all('img')[1]
featured_image_url=jpl_img+img_url['src']

IndexError: list index out of range

In [12]:
featured_image_url

NameError: name 'featured_image_url' is not defined

##### Mars Facts

In [21]:
#Visit the https://space-facts.com/mars page; 
#use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
mars_url="https://space-facts.com/mars/"
mars_df=(pd.read_html(mars_url))[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
#Use Pandas to convert the data to a HTML table string.
mars_html_table=mars_df.to_html(header=False, index=False)
mars_html_table

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

##### Mars Hemispheres